.container{
    color: white;
    position: relative;
    display: inline-block;
    text-align: center;
        }
    .titulo{
        position: absolute;
        top: 10px;
        left: 50%;
        padding-block-start: 2em;
    }
    .texto{
        position: absolute;
        top: 40%;
        left: 60%;
        transform: translate(-50%, -50%);
    }